
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
	background-color: #ccc;
}

#header {
    background-color: #f1f1f1;
    padding: 5px;
    color: darkcyan;
    text-align: center;
}


.container {
  padding: 20px 10%;
  padding-bottom: 100px;
}


#home {
    background-image: url(back15.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}
       

.logo {
    float: left;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}
.logo img {
    height: 50px;
    width: 50px;
}

.topnav {
    background-color: #f1f1f1;
    background-image: url(back12.jpg);
    background-size: cover;
    background-position: center;
    list-style-type: none;
    text-align: center;
    padding: 40px;
    margin: 0;
    font-size: 20px;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 15px;
	margin: -2px;
    text-decoration: none;
}
.topnav li {
    display: inline-block;
    padding: 0;
}
.topnav a:hover {
    background-color: #ccc;
    color: #000000;
}


/**-----Dropdown-----*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdon-content {
  display: none;
  position: absolute;
  background-color:dimgray;
}
.dropdon-content a {
  display: block;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdon-content a:hover {
    background-color: #ccc;
}
.dropdown:hover .dropdon-content {
    display: block;
}

.header-text {
    margin-top: 10%;
    font-size: 40px;
    text-align: right;
}
.header-text h1 {
    font-size: 75px;
    margin-top: 20px;
    color: #800000;
}
.header-text h1,
.header-text h2 {
    display: inline;
}

.artist {
    flex: 1;
    margin: 0 10px;
    position: absolute;
    top: 25%;
    left: 0;
    margin-top: 70px; /* Adjust margin-top as needed */
    margin-left: 80px; /* Adjust margin-left as needed */
}

.social-icon {
  margin-top: 20px;
}

.social-icon a {
  text-decoration: none;
  font-size: 50px;
  margin-right: 5px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icon a:hover {
  color: darkcyan;
  transform: translateY(-5px);
}

/*----introduction----*/
#introduction {
    background-image: url(back24.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
}

table {
  border-colapse: collapse;
  width:100%;
    font-family: 'poppins',sans-serif; 
}
th,td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #36454F;
 }
tr:hover {
  background-color: #36454F;
}  

.download:link, .download:visited {
   background-color: #36454F;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}
.download:hover, download:active {
  background-color: darkcyan;
 }

.heading {
  font-family:helvetica;
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}


/* ---- My Skills ---*/

#skills {
    background-image: url(back4.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

 .container .box-container{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	justify-content: center;
}
 .container .box-container .box{
	border-radius: 15px;
	background: #fff; 
	text-align: center;
	padding: 20px;
}

.container .box-container .box:hover{
    box-shadow: 5px 10px 10px #ccc;
	transform: scale(1.04);
}	



/* ---- My Services ----*/
#services {
    background-image: url(back3.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #ccc;
    color: white;
    padding: 20px;
  
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, trasform 0.5s;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 5000;
  margin-bottom: 15px;
}

.services-list div:hover {
  color: white;
  background-color: #008B8B;
  transform: translatey(-10px);
}



/*----contact---*/
#contact {
    background-image: url(back15.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
    padding-bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 6rem;
	align-items: center;
}

.contact-img img {
    padding: 60px;
	margin: -10px;
    max-width: 100%;
	width: 100%;
	height: auto;
	border-radius: 20px;
}


.contact-form p {
   color: white;
   letter-spacing: 2px;
   font-size: 1.2rem;
}
.contact-form form {
   position: relative;
}
.contact-form form input, form textarea {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   color: white;
   background: dimgray;
   margin-bottom:0.7rem;
   border-radius: 10px;
}
.contact-form textarea {
   resize: none;
   height: 150px;
}
.contact-form form .btn {
   display: inline-block;
   background: #36454F;
   font-size: 1.0rem;
   width: 100px;
   cursor: pointer;
}

.contact-form form .btn:hover {
    background-color: darkcyan;
}

::placeholder {
     color: white;
}

@media (max-width: 1570px){
   #contact {
      padding: 20px 5%;
	  transition: .2s;
}
.contact-form h1 {
   font-size: 60px;
}
.contact-form p {
   margin-bottom: 3rem;
}
}


@media (max-width: 1090px) {
    #contact {
	   grid-gap: 2rem;
	   transition: 3s;
}
}


@media (max-width: 1000px) {
    #contact {
       grid-template-columns: 1fr;
}
    .contact-form {
	    order: 2;
}
.contact-img img {
    padding-top: 0;
    max-width: 100%;
	width: 100%
	height: 100%;
	text-align: center;
}
}


footer {
    padding: 2em;
    color: white;
    background-color: #000000;
    clear: left;
    text-align: center;
	font-family:Georgia, serif;
}
	


/*-------CSS3 for responsive design -------*/
@media only screen and (max-width: 800px) {
 #header {
	display: none;
  }
  * {
    font-size: 16px;
  }
  
  .topnav {
    display: none;
    padding: 10px;
   }
   
 #home {
    background-image: url(back5.jpeg);
	background-repeat: no-repeat;
	background-size: cover; 
}
  .header-text {
    margin-top: 50%;
  }
  .heading {
    font-size: 26px;
    }
   .photo {
      display: none;
	  font-size: 6px;
	}
	
  .header-text h2 {
    color: #ccc; 
    font-size: 50px;
  }
  .header-text h1, {
    font-size: 50px;
  }

 .container .box-container{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 40px;
	justify-content: center;
}
 .container .box-container .box {
	text-align: center;
	padding: 0;
}

 .img {
    background-image: url(back18.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
}

}

 
